.header {
  position: fixed;
  height: 90px;
  background-color: #00ADB5;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, .25);
  padding: 0px 35px 0px 35px;
  width: 100vw;
}

.header-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  max-width: 525px;
}

.header-right-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  max-width: 120px;
  gap: 25px;
}

.header-logo {
  width: 106px;
  height: 85px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .25));
}

.header-home,
.header-order,
.header-locations,
.header-news {
  color: #EEEEEE;
  font-size: 32px;
  font-weight: 700;
  text-shadow: 2px 2px rgba(0, 0, 0, .25);
}

.header-profile {
  position: relative;
  cursor: pointer;
}

.header-pf-menu {
  position: absolute;
  background-color: #EEEEEE;
  display: flex;
  flex-direction: column;
  padding: 5px 15px 5px 15px;
  border-radius: 8px;
  right: 10px;
  top: 78px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.7);
}

.header-pf-menu::before {
  content: "";
  position: absolute;
  background-color: #EEEEEE;
  right: 15px;
  top: 0;
  border: 10px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  transform-origin: 0 0;
  transform: rotate(-45deg);
  box-shadow: 3px -3px 3px 0 rgba(0,0,0,.2);
}

.header-pf-profile,
.header-pf-settings,
.header-pf-logout {
  text-align: center;
  font-size: 22px;
}

.header-pf-settings {
  border-top: 1px solid #1717177e;
  border-bottom: 1px solid #1717177e;
}

.header-pfp {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  filter: drop-shadow(4px 3px rgba(0, 0, 0, .25));
}
