.main {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.carousel-arrow {
  position: absolute;
  font-size: 2rem;
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  text-justify: center;
  padding: 0 20px;
  transition: all .2s;
  height: 57%;
}

.left-arrow {
  left: 0%;
}

.left-arrow:hover {
  box-shadow: inset 20px 0 10px rgba(134, 134, 134, 0.3);
}

.right-arrow {
  right: 0%;
}

.right-arrow:hover {
  box-shadow: inset -20px 0 10px rgba(134, 134, 134, 0.3);
}

.intro-sect {
  width: 100vw;
  max-width: 100%;
  background-image: url("../img/fnaf/bonnie_in_dining.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  transition: background-image 2s ease-in-out;
}

.intro-container {
  max-width: 800px;
  width: 100%;
  display: flex;
  justify-content: start;
  padding: 0 20px;
}

.intro-card {
  margin: 100px 0;
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
}

.intro-card-heading {
  font-size: 1.75rem;
  color: white;
  line-height: 40px;
}

.intro-card-text {
  margin-top: 30px;
  font-size: 1.3rem;
  line-height: 1.5em;
  color: white;
}

.intro-card-button {
  margin-top: 20px;
  border: none;
  border-radius: 20px;
  background-color: white;
  padding: 10px 20px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all .2s;
}

.intro-card-button:hover {
  filter: brightness(80%);
}

.intro-card-button:active {
  filter: brightness(60%);
}

.recom-sect {
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(164.21deg, rgba(0, 0, 0, 0) 53.08%, rgba(255, 0, 0, 0.31) 97.01%), linear-gradient(196.42deg, rgba(0, 0, 0, 0) 74.72%, rgba(250, 255, 0, 0.2) 99.43%), linear-gradient(295.18deg, rgba(0, 0, 0, 0.092) 15.29%, rgba(0, 0, 0, 0) 47.83%), linear-gradient(52.56deg, rgba(95, 33, 33, 0.058) 18.06%, rgba(95, 33, 33, 0) 50.93%);
  box-shadow: 0 -40px 30px rgb(0, 0, 0);
}

.recom-container {
  max-width: 950px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  padding: 50px;
  margin: 50px 0;
}

.recom-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.recom-container:nth-child(1) {
  margin-top: -120px;
}

.recom-img {
  width: 375px;
  filter: brightness(75%);
}

.recom-holder {
  padding: 30px;
  max-width: 425px;
  min-width: 300px;
  color: white;
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0.5), rgba(29, 29, 29, 0.8));
  border-radius: 20px;
}

.freddy {
  box-shadow: 5px 5px 0 #7b3717;
}

.bonnie {
  box-shadow: 5px 5px 0 #4a3c71;
}

.chica {
  box-shadow: 5px 5px 0 #e9d529;
}

.foxy {
  box-shadow: 5px 5px 0 #8f3b2b;
}

.recom-heading {
  font-size: 1.75rem;
  margin-bottom: 20px;
}

.recom-text {
  font-size: 1.3rem;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

@media (max-width: 768px) {
  .intro-container {
    justify-content: center;
  }
}

@media (max-width: 550px) {
  .recom-holder {
    min-width: 250px;
  }

  .recom-img {
    width: 275px;
  }
}

@media (max-width: 330px) {
  .recom-img {
    width: 200px;
  }
}