@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;0,900;1,500&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  background-color: rgba(0, 0, 0);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.inactive {
  display: none;
}

.main {
  flex: 1;
}